# Local data and databases
/data
/ui/demo_tree.json
/tmp
*.db
*.sqlite
*.sqlite3
*.odt
*.zip
*.pdf
*.jpg
*.jpeg
*.png
*.tif
*.tiff

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/

# Node
node_modules/
**/node_modules/

# Build outputs
lambda/dist/

# Ignore generated demo tree files
**/demo_tree.json

# Terraform local files
terraform/aws/.terraform/
terraform/aws/*.tfstate
terraform/aws/*.tfstate.backup
terraform/aws/.terraform.lock.hcl
.terraform/
